{% extends "base.html" %}
{% block titulo %}
    Atender Oficio
{% endblock titulo %}
{% block css_adicional %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/panel.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/detalle_oficio.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/jud_dashboard.css') }}">
{% endblock css_adicional %}
{% block contenido_principal %}
    {# Header inicio #}
    <div class="contenedor-principal">
        <div class="header-seccion">
            <div>
                <h1 class="titulo-panel">Mesa de trabajo</h1>
                <p class="subtitulo-panel">
                    Atendiendo Folio: <span class="dato-folio">{{ oficio.folio_interno }}</span>
                </p>
            </div>
            <a href="{{ url_for('oficios.panel_control') }}" class="btn-gris">Volver</a>
        </div>
        {# Header fin #}
        {# Datos de la solicitud inicio #}
        <div class="tarjeta-blanca">
            <h3 class="titulo-tarjeta">Datos de la solicitud</h3>
            <div class="lista-detalles">
                <div class="item-detalle">
                    <strong>Fecha asignacion: {{ oficio.fecha_asignacion }}</strong>
                </div>
                <div class="item-detalle">
                    <strong>Remitente: {{ oficio.remitente }}</strong>
                </div>
                <div class="item-detalle">
                    <strong>Asunto: {{ oficio.asunto }}</strong>
                </div>
            </div>
        </div>
        {# Datos de la solicitud fin#}
        {# Descripcion inicio #}
        <div class="tarjeta-blanca">
            <div class="columna-documento">
                <div class="tarjeta-blanca tarjeta-instruccion">
                    <h3 class="titulo-tarjeta titulo-azul">Descripcion del oficio</h3>
                    <div class="caja-instruccion">
                        {% if oficio.descripcion_solicitud %}
                            {{ oficio.descripcion_solicitud }}
                        {% else %}
                            Habla con la persona que te asigno este oficio para aclarlo
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {# Descripcion fin #}
        {# Documentos adjuntos inicio #}
        <div class="tarjeta-blanca">
            <h3 class="titulo-tarjeta">Documentos Adjuntos</h3>
            {% if documentos %}
                <ul class="lista-archivos">
                    {% for documento in documentos %}
                        <li class="lista-archivos">
                            <div class="info-archivo">
                                <span>{{ documento.nombre_archivo_original }}</span>
                            </div>
                            <a href="{{ url_for('oficios.ver_detalles_oficio', filename = documento.nombre_archivo_original) }}"
                               class="btn-descargar">Ver</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="fila-vacia">Este oficio no tiene archivos adjuntos.</p>
            {% endif %}
        </div>
        {# Documentos adjuntos fin#}
        {# Mi respuesta inicio #}
        <div class="tarjeta-blanca">
            <h3 class="titulo-tarjeta">Mi respuesta</h3>
            <textarea name="texto_respuesta" rows="5" cols="120"></textarea>
            <small class="texto-ayuda">Adjunta tu documento en PDF</small>
            <input type="file"
                   name="archivo"
                   id="archivo"
                   class="entrada-texto"
                   accept=".pdf">
            {# Mi respuesta fin#}
            {# Boton enviar inicio #}
            <button type="submit" class="btn-secundario">Enviar Respuesta</button>
            {# Boton enviar fin #}
        </div>
    </div>
{% endblock contenido_principal %}
