# Archivos de entorno
.env
.env.local
.env.production

# Entornos Virtuales
venv/
env/
.venv/

# Archivos compilados de Python (Basura)
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Configuraciones de IDE
.vscode/
.idea/
*.swp

# Cargas de usuario
app/static/uploads/*
!app/static/uploads/.gitkeep
app/static/peticiones/*
!app/static/peticiones/.gitkeep

# Bases de datos locales
*.sqlite3
*.db
*.sql