<div class="grid-metricas">
    <div class="tarjeta-metrica borde-violeta">
        <div class="metrica-titulo">{{ titulo1 }}</div>
        <div class="metrica-numero">{{ valor1 }}</div>
    </div>
    <div class="tarjeta-metrica borde-naranja">
        <div class="metrica-titulo">{{ titulo2 }}</div>
        <div class="metrica-numero">{{ valor2 }}</div>
    </div>
    <div class="tarjeta-metrica borde-verde">
        <div class="metrica-titulo">{{ titulo3 }}</div>
        <div class="metrica-numero">{{ valor3 }}</div>
    </div>
</div>
