<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block titulo %}
        Sistema de Oficios
      {% endblock titulo %}
    </title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/normalize.css') }}" />
    {% block css_adicional %}
    {% endblock css_adicional %}
  </head>
  <body>
    {# CONFIGURACION DEL NAVBAR #}
    {% if current_user.is_authenticated %}
      {% include "fragments/navbar.html" %}
    {% endif %}
    <div class="contenedor-central">
      {# ALERTAS EN LA PAGINA ACTUAL #}
      <div class="contenedor-alertas">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'error' %}
                <div class="alerta alerta-roja">
                  <strong>Error:</strong> {{ message }}
                </div>
              {% elif category == 'success' %}
                <div class="alerta alerta-verde">
                  <strong>Éxito:</strong> {{ message }}
                </div>
              {% else %}
                <div class="alerta">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      {% block contenido_principal %}
      {% endblock contenido_principal %}
    </div>
    <script src="{{ url_for('static', filename='js/notificaciones.js') }}"></script>
    {% block script_adicional %}
    {% endblock script_adicional %}
  </body>
</html>
